<ion-view title="Listas">
    <!-- HEADER -->
    <!-- TO-DO
        Boton back
        Boton delete
        Tipografia
    -->
    <!-- <ion-nav-back-button class="button-clear"><i class="icon ion-chevron-left"></i> Back</ion-nav-back-button> -->
    <ion-header-bar align-title="center" class="bar-positive" animation="nav-title-slide-ios7">
        <div class="buttons right-buttons">
          <button class="button">
            <i class="icon ion-chevron-left"></i>
          </button>
        </div>
        <h1 class="title">Listas de Compra</h1>
        <div id="logo" class="contenedorLogo">
            <img class="logoHeader" src="./img/carrito.png">            
        </div>
    </ion-header-bar>
    <!-- BODY -->
    <ion-content  has-header="true" has-footer="true">
        <ion-list
          show-delete="true"
        >
            <ion-item ng-repeat="lista in listas" href="#/app/listas/{{lista.id}}" class="listaItem">    
            <img ng-src="{{item.img}}">
            <h2 class="listaItem">{{lista.nombre}}</h2>
            
            <ion-delete-button class="ion-minus-circled"
                               ng-click="items.splice($index, 1)">
            </ion-delete-button>               
            </ion-item>
        </ion-list>
    </ion-content>
    <!-- FOOTER --> 
<ion-footer-bar align-title="left" class="bar-dark">    
    <!--<div class="tabs tabs-icon-only">--> 
        <a class="tab-item">
            <i class="ion-home footerIconos"></i>
        </a>
        <a class="tab-item" href="#/app/listas/nuevalista">
            <i class="ion-ios7-plus-outline footerIconos"></i>
        </a>
        <a class="tab-item">
            <i class="ion-ios7-gear footerIconos"></i>
        </a>
    <!--</div>--> 
</ion-footer-bar>>    
</ion-view>
