<ion-view title="Nuevo Elemento">
    <!-- HEADER -->
    <ion-nav-bar class="bar-stable nav-title-slide-ios7">
        <ion-nav-back-button class="button-clear"><i class="icon ion-chevron-left"></i> Back</ion-nav-back-button>
    </ion-nav-bar>
    <!-- BODY -->
    <ion-content>
        <label class="item item-input">
            <i class="icon ion-search placeholder-icon"></i>
            <input type="search" placeholder="Buscar" ng-model="nombreProducto">
        </label>
        <div class="list">
            <a class="item item-avatar item-icon-right"
               ng-repeat="item in itemsDisponibles | filter:nombreProducto"
               ng-click="item.added = item.added? false: true">
                <img src="img/ionic.png">
                <h2>{{item.nombre}}</h2>
                <p>{{item.descripcion}}</p>
                <i class="icon" ng-class="item.added? 'ion-close-round': 'ion-checkmark-round'"></i>
            </a>
        </div>
    </ion-content>
    <div class="tabs tabs-icon-only">
        <a class="tab-item">
            <i class="icon ion-checkmark-round" ng-click="acceptList();"></i>
        </a>
    </div>
</ion-view>
