<ion-view title="Ajustes">
    <ion-header-bar class="bar-positive centrado" animation="nav-title-slide-ios7">
        <a class="tab-item backHeader" href="#/app/menu">
            <i class="ion-arrow-left-c footerIconos"></i>
        </a>
        <h1 class="title centrado">Ajustes</h1>        
        <img class="logoHeader" src="./img/carrito.png">
    </ion-header-bar>
    <!-- BODY -->
    <ion-content  has-header="true" has-footer="true">
        <div class="list card">

          <a href="#/app/ajustes/gestorMapas" class="item item-icon-left">
            <i class="icon ion-map"></i>
            Gestor de Mapas
          </a>

          <a href="#/app/ajustes/gestorNotificaciones" class="item item-icon-left">
            <i class="icon ion-chatboxes"></i>
            Gestor de Notificaciones
          </a>

          <a href="#/app/ajustes/modoDeUso" class="item item-icon-left">
            <i class="icon ion-mic-a"></i>
            Modo de Uso
          </a>
        </div>        
    </ion-content>
    <!-- FOOTER --> 
<ion-footer-bar class="bar-dark">    
    <a class="tab-item" href="#/app/menu">
            <i class="ion-home footerIconos"></i>
    </a>
</ion-footer-bar>    
</ion-view>
