<ion-view title="Modo de Uso">
    <ion-header-bar class="bar-positive centrado" animation="nav-title-slide-ios7">
        <a class="tab-item backHeader" href="#/app/ajustes">
            <i class="ion-arrow-left-c footerIconos"></i>
        </a>
        <h1 class="title centrado">Modo de Uso</h1>        
        <img class="logoHeader" src="./img/carrito.png">
    </ion-header-bar>
    <!-- BODY -->
    <ion-content  has-header="true" has-footer="true">
        <ul class="list">

          <li class="item item-toggle">
             Modo de uso por Voz
             <label class="toggle toggle-calm">
               <input type="checkbox" ng-model="modoaudio">
               <div class="track">
                 <div class="handle"></div>
               </div>
             </label>
          </li>

          <li ng-show="modoaudio">
            <a href="" data-ng-click="detectarVoz()" class="item item-icon-left">
            <i class="icon ion-mic-a"></i>
            Probar detector
            </a>
          </li>
          <li ng-show="modoaudio">
            <a href="" data-ng-click="reproducirVoz()" class="item item-icon-left">
            <i class="icon ion-radio-waves"></i>
            Probar audio
            </a>
          </li>
        </ul>  

    </ion-content>
    <!-- FOOTER --> 
<ion-footer-bar class="bar-dark">    
    <a class="tab-item" href="#/app/menu">
            <i class="ion-home footerIconos"></i>
    </a>
    <a class="tab-item" ng-click="">
        <i class="icon ion-checkmark-circled footerIconos"></i> 
    </a>    
</ion-footer-bar>    
</ion-view>
