<ion-view>
    <!-- HEADER -->
    <ion-header-bar class="bar-positive centrado" animation="nav-title-slide-ios7">
<!--            <a class="tab-item backHeader" ng-click="showConfirm()">
                <i class="ion-arrow-left-c footerIconos"></i>
            </a>-->
            <h1 class="title centrado" >
                <input class="nombre-lista-input" type="text" ng-model="createdList.nombre" value="Nueva Compra" />
            </h1> 
            <a class="tab-item backHeader nombre-lista-lapiz" >
                <i class="icon ion-chevron-right ion-edit"></i>
            </a>
        <img class="logoHeader" src="./img/carrito.png">
    </ion-header-bar>
    <ion-content class="has-header">
        <div class="row">
            <div class="list">
                <a class="item item-avatar item-icon-right"
                   ng-repeat="item in createdList.productos | filter:nombreProducto"
                   ng-click="item.added = item.added? false: true">
                    <img src="img/ionic.png">
                    <h2>{{item.nombre}}</h2>
                    <p>{{item.descripcion}}</p>
                    <i class="icon ion-ios7-close-outline" ng-click="deleteItem($index);"></i>
                </a>
            </div>
        </div>
    <div class="row"></div>
    <div class="row">
        <div class="col">

            <div class="card" ng-show="muestraSuma">
                <div class="item item-text-wrap celeste">
                  El total a pagar en línea de cajas es de: {{totalSuma}} pesos Argentinos.
                </div>
            </div>
        </div>
    </div>
    <div class="row"></div>
    </ion-content>

<!-- FOOTER-->
<ion-footer-bar class="bar-dark">     
    <a class="tab-item" href="#/app/menu">
            <i class="icon ion-home footerIconos"></i>
    </a>
    <a class="tab-item" href="#/app/map">
            <i class="icon ion-location footerIconos"></i>
    </a>
    <a class="tab-item" ng-click="leerQr();">
        <i class="icon ion-ios7-plus-outline footerIconos"></i>
    </a>
    <a class="tab-item" ng-click="suma();">
        <i class="icon ion-ios7-calculator footerIconos"></i> 
    </a>
</ion-footer-bar>

</ion-view>
