<ion-view title="Consultar Información de Producto">
    <!-- HEADER -->
    <ion-header-bar class="bar-positive centrado" animation="nav-title-slide-ios7">
        <a class="tab-item backHeader" href="#/app/map">
            <i class="ion-arrow-left-c footerIconos"></i>
        </a>
        <h1 class="title centrado">Consultar Información de Producto</h1>        
        <img class="logoHeader" src="./img/carrito.png">
    </ion-header-bar>
    <!-- BODY -->
    <ion-content  has-header="true" has-footer="true">
        <div class="row centrado">
            <div class="col centrado">
                <button class="button button-positive loginButton button-small" data-ng-click="scan()">
                    Escanear Producto
                </button>
            </div>
        </div>        
    </ion-content>
    <!-- FOOTER --> 
<ion-footer-bar class="bar-dark">    
    <!--<div class="tabs tabs-icon-only">--> 
    <a class="tab-item" href="#/app/menu">
            <i class="ion-home footerIconos"></i>
    </a>
    <a class="tab-item" href="#/app/ajustes">
        <i class="ion-ios7-gear footerIconos"></i>
    </a>
    <!--</div>--> 
</ion-footer-bar>    
</ion-view>
