<ion-view title="EPA">
  <ion-content >

      <div id="loginContainer" style="margin-top:30%;">
          <form name="loginForm">
              <div class="row">
                  <div class="col">
                      <label class="item item-input">
                          <span class="input-label">Usuario</span>
                          <input type="text" name="user" ng-model="user" ng-required>
                      </label>
                  </div>
              </div>
              <div class="row">
                  <div class="col">
                      <label class="item item-input">
                          <span class="input-label">Contraseña</span>
                          <input type="password" name="pass" ng-model="password" ng-required>
                      </label>
                  </div>
              </div>
              <div class="row" ng-show="loginResponse.notifyShow">
                  <div class="col">
                      <div class="notify" ng-class="loginResponse.type">
                          <i class="icon ion-close-circled"></i>
                          <span id="notifyTextLogin" class="notifyText">
                              {{loginResponse.message}}
                          </span>
                      </div>
                  </div>
              </div>
          </form>
          <div class="row">
              <div class="col"></div>
              <div class="col">
                  <button class="button button-positive button-large" ng-click="login()">
                      Login
                  </button>
              </div>
              <div class="col"></div>
          </div>
      </div>
  </ion-content>
</ion-view>
