<ion-view title="EPA">
    <!-- HEADER -->
<!--    <ion-nav-bar class="bar-stable nav-title-slide-ios7">
        <ion-nav-back-button class="button-clear"><i class="icon ion-chevron-left"></i> Back</ion-nav-back-button>
    </ion-nav-bar> 
    <!-- BODY --> 
    
  <ion-content class="loginBackground">
      <div id='logo' align=center ><img width=95% height=95%  src= "./img/epa_logo.svg"></div>
      <div id="loginContainer" style="margin-top:5%;">
          <form name="loginForm">
              <div class="row">
                  <div class="col">
                      <label class="item item-input">
                          <span class="input-label">Usuario</span>
                          <input type="text" name="user" ng-model="user" ng-required>
                      </label>
                  </div>
              </div>
              <div class="row">
                  <div class="col">
                      <label class="item item-input">
                          <span class="input-label">Contraseña</span>
                          <input type="password" name="pass" ng-model="password" ng-required>
                      </label>
                  </div>
              </div>
              <div class="row" ng-show="loginResponse.notifyShow">
                  <div class="col">
                      <div class="notify" ng-class="loginResponse.type">
                          <i class="icon ion-close-circled"></i>
                          <span id="notifyTextLogin" class="notifyText">
                              {{loginResponse.message}}
                          </span>
                      </div>
                  </div>
              </div>
          </form>
          <div class="row">
              <div class="col"></div>              
              <div class="col">
                  <button class="button button-positive loginButton button-small" data-ng-click="login()">
                      Ingresar
                  </button>
              </div>
              <div class="col"></div>
              <div class="col"></div>
              <div class="col"></div>
          </div>
          <div class="row"></div>
          <div class="row"></div>
            <div class="row">
              <div class="col"></div>
              <div class="col"></div>
              <div class="col">
                  <a href="#/loginFb" class="ion-social-facebook loginIconos" >
                  </a>
              </div>
              <div class="col">
                  <a href="#/loginGplus" class="ion-social-googleplus loginIconos" >
                  </a>
              </div>
              <div class="col"></div>
              <div class="col"></div>
          </div>          
            <div class="row">
              <div class="col"></div>
              <div class="col">
                  <a href="#/registrar" class="loginRegistrarse">
                      Registrarse
                  </a>
              </div>
              <div class="col"></div>
          </div>
      </div>
  </ion-content>
</ion-view>
