<ion-view title="EPA">
    <!-- HEADER -->
<!--    <ion-nav-bar class="bar-stable nav-title-slide-ios7">
        <ion-nav-back-button class="button-clear"><i class="icon ion-chevron-left"></i> Back</ion-nav-back-button>
    </ion-nav-bar> 
    <!-- BODY --> 
    
  <ion-content class="loginBackground">
      <div id='logo' >
          <img class="logoEPA" src= "./img/epa_logo.svg">
      </div>
      <div id="loginContainer" style="margin-top:5%;">
         <!-- <form name="loginForm"> -->
          <div class="list list-inset loginForm">    
              <div class="row">
                  <div class="col">
                      <label class="item item-input loginInput">
                          <input type="text" placeholder="E-Mail" name="user" ng-model="user" ng-required>
                          <!--<span class="input-label">Email</span>
                          <input type="text" name="user" ng-model="user" ng-required>-->
                      </label>
                  </div>
              </div>
              <div class="row">
                  <div class="col">
                      <label class="item item-input loginInput">
                          <input type="password" placeholder="Contraseña" name="pass" ng-model="password" ng-required>
                          <!-- <span class="input-label">Contraseña</span>
                          <input type="password" name="pass" ng-model="password" ng-required>-->
                      </label>
                  </div>
              </div>
              <div class="row" ng-show="loginResponse.notifyShow">
                  <div class="col">
                      <div class="notify" ng-class="loginResponse.type">
                          <i class="icon ion-close-circled"></i>
                          <span id="notifyTextLogin" class="notifyText">
                              {{loginResponse.message}}
                          </span>
                      </div>
                  </div>
              </div>
          </div>
          <div class="row">             
              <div class="col centrado">
                  <button class="button button-positive loginButton button-small" data-ng-click="login()">
                      Ingresar
                  </button>
              </div>
          </div>
            <div class="row">
                <div class="col centrado">
                    <a href="#/app/registrar" class="loginRegistrarse">
                        Registrate
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col centrado">
                  <a href="#/loginFb">
                    <img src= "./img/loginFb.png">
                  </a>
                  <a href="#/loginGplus">
                      <img src= "./img/loginGplus.png">
                  </a>
              </div>
            </div>
      </div>
  </ion-content>
</ion-view>
