/* Empty. Add your own CSS if you like */

.map svg {
    /*overflow:visible !important;*/
}


/* User Info Dialogs */

.error.notify {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

.info.notify {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
}

.success.notify {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

.notify {
    box-sizing: border-box;
    -webkit-box-shadow: 0px 2px 10px rgba(50, 50, 50, 0.5);
    -moz-box-shadow: 0px 2px 10px rgba(50, 50, 50, 0.5);
    box-shadow: 0px 2px 10px rgba(50, 50, 50, 0.5);
    border: 1px solid transparent;
    border-radius: 4px;
    padding: 7px;
    margin-top: 5px;
}

.notifyText {
    padding: 5px;
}

a:visited{
    color: #0F2E4C;
}

/* Login */

.loginBackground{
    background: url("../img/fondo_epa_color.png") no-repeat center fixed;
    background-size: cover;
}

.loginRegistrarse{
    background-size: cover;
    font-family: verdana;
    font-size: 12px;
    font-weight: bold;
    color: #0F2E4C;
}

.loginIconos{
    font-size: 30px;
    color:  #527ACC;
}

.loginTitulos{
    text-align: center;
    font-size: 32px;
    color:  #527ACC;
}


.loginButton{
    font-size: 16px;
    width: 150px;
    text-align: center;
}

.logoEPA{
    max-width: 100%;
}

.backgroundLogoMenu{
    background-color: #F5F5F0;
}

/* ABM Listas */
.listaItem{ /* Revisar */
    font-family: verdana;
    font-size: 12px;
}

/*FOOTER*/
.footerIconos{
    font-size: 30px;
    color:  #D0DFFA;
}

/*Main Menu*/
.menuBackground{
 
}

.cuadrado
{
  text-align: center;
}

.celeste{
      background-color:#7EB4FC;
}

.celesteLogo{
    color: #427080;
}

.rojo{
    background-color: #FF6666;
}

.rojoLogo{
    color: #B20000;
}

.verde{
    background-color: #70E270;
}

.verdeLogo{
    color: #007A00;
}

.naranja{
    background-color: #FF8533;
}

.naranjaLogo{
    color: #B24700;
}

.mainMenuIcon{
    font-size: 10em;
}

.linkIcon{
    vertical-align: middle;
    display: table-cell;
}
