/* Empty. Add your own CSS if you like */

.map svg {
    overflow:visible !important;
}


/* User Info Dialogs */

.errorNotify {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

.notify {
    box-sizing: border-box;
    -webkit-box-shadow: 0px 2px 10px rgba(50, 50, 50, 0.5);
    -moz-box-shadow: 0px 2px 10px rgba(50, 50, 50, 0.5);
    box-shadow: 0px 2px 10px rgba(50, 50, 50, 0.5);
    border: 1px solid transparent;
    border-radius: 4px;
    padding: 7px;
    margin-top: 5px;
}

.notifyText {
    padding: 5px;
}