/* Empty. Add your own CSS if you like */

.map svg {
    /*overflow:visible !important;*/
}

/* No arrows on input number */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

/* User Info Dialogs */

.error.notify {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

.info.notify {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
}

.success.notify {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

.notify {
    box-sizing: border-box;
    -webkit-box-shadow: 0px 2px 10px rgba(50, 50, 50, 0.5);
    -moz-box-shadow: 0px 2px 10px rgba(50, 50, 50, 0.5);
    box-shadow: 0px 2px 10px rgba(50, 50, 50, 0.5);
    border: 1px solid transparent;
    border-radius: 4px;
    padding: 7px;
    margin-top: 5px;
}

.notifyText {
    padding: 5px;
}

a:visited{
    color: #0F2E4C;
}

/* Login */

.loginBackground{
    background: url("../img/fondo_epa_color.png") no-repeat center fixed;
    background-size: cover;
}

.loginRegistrarse{
    background-size: cover;
    font-family: sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: #0F2E4C;
}

.loginTitulos{
    text-align: center;
    font-size: 32px;
    color:  #527ACC;
}

.loginForm{
    background-color: rgba(220, 224, 224, 0.5);
    border-radius: 18px; 
}

.loginInput{
    border-color: rgb(119, 170, 247);
}

.loginButton{
    font-size: 16px;
    width: 150px;
    text-align: center;
}
.RecuperoButton{
    font-size: 16px;
    width: 450px;
    text-align: center;
}

.logoEPA{
    padding-top: 10px;
    max-width: 100%;
}

/* ABM Listas */
.listaItem{
    font-family: sans-serif;
    font-size: 12px;
}

.nombre-lista-input {
    width: 80%;
    margin-left: 15%;
    text-align: center;
    background-color: transparent;
    color: white !important;
    font-weight: bold;
    display: inline-block !important;
}

.nombre-lista-input:focus {
    background-color: white;
    color: darkgrey !important;
}

.lista-cant-icon {
    font-size: 20px;
    font-family: sans-serif;
    margin-bottom: 10%;
    margin-top: 10%;
    color: rgb(76, 162, 236);
}

.lista-cant-input {
    display: inline-block !important;
    background-color: rgb(222, 228, 228); 
    width: 30px;
    height: 30px;
    font-size: 12px;
    margin-left: 5%;
    margin-right: 5%;
}

.force-item-avatar-right {
    position: absolute;
    top: 15px;
    right: 15px;
    max-width: 70px;
    max-height: 40px;
    width: 100%;
    border-radius: 4px;
}

/*FOOTER*/
.footerIconos{
    font-size: 30px;
    color:  #D0DFFA;
}

.tab-item{
    max-width: initial;
}

/* HEADER*/

.logoHeader{
    max-width: 20%;
    max-height: 100%; 
    margin-left: auto;
}

.tituloHeader{
    text-align: center;
    color: white;
    font-size: 12px;
}

.backHeader{
    max-width: 10%;
}
/*Main Menu*/
.background-menu{
    background-color: #F5F5F0;
}

.menu-leyendas{
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    font-family: sans-serif;
}

.menu-link{
    text-decoration: none;
}

.cuadrado
{
  text-align: center;
}

.celeste{
      background-color:#7EB4FC;
}

.celesteLogo{
    color: #427080;
}

.celeste-leyenda{
    color: #427080;
    background-color: #ACCFFD;
}

.rojo{
    background-color: #FF6666;
}

.rojoLogo{
    color: #B20000;
}

.rojo-leyenda{
    color: #B20000;
    background-color: #FF9393;
}

.verde{
    background-color: #46BD46;
}

.verdeLogo{
    color: #007A00;
}

.verde-leyenda{
    color: #007A00;
    background-color: #6DB86D;
}

.naranja{
    background-color: #FF8533;
}

.naranjaLogo{
    color: #B24700;
}

.naranja-leyenda{
    color: #B24700;
    background-color: #FFA467;
}

.mainMenuIcon{
    font-size: 10em;
}

.padding-iconos{
    padding-top: 20px;
}

.centrado{
    text-align: center;
}

.izq{
    text-align: left;
}

.derecha {
    text-align: right;
}
/*Consultar Info de producto*/
.consultar-tabla{
    border-color: #B5C4EC;
    background-color: #D6E4F3;
}