<ion-view title="Estadisticas">
    <ion-header-bar class="bar-positive centrado" animation="nav-title-slide-ios7">
        <a class="tab-item backHeader" href="#/app/menu">
            <i class="ion-arrow-left-c footerIconos"></i>
        </a>
        <h1 class="title centrado">Estadísticas</h1>
        <img class="logoHeader" src="./img/carrito.png">
    </ion-header-bar>

    <ion-footer-bar class="bar-dark">
        <a class="tab-item" href="#/app/menu">
            <i class="ion-home footerIconos"></i>
        </a>
    </ion-footer-bar>
</ion-view>