<ion-view title="Menu">
    <!-- HEADER 
    <ion-nav-bar class="bar-stable nav-title-slide-ios7">
        <ion-nav-back-button class="button-clear"><i class="icon ion-chevron-left"></i> Back</ion-nav-back-button>
    </ion-nav-bar> -->
    <!-- BODY -->
  <ion-content animation="slide-left-right-ios7">
      <div id='logo' align=center ><img class="logoEPA backgroundLogoMenu"  src= "./img/epa_logo.svg"></div>
      <div class="row">
        <div class="col">          
          <div id="listas" class="cuadrado celeste">
              <a href="#/app/listas">
                    <i class="ion-clipboard mainMenuIcon celesteLogo"></i>
              </a>
          </div>
        </div>
        <div class="col">            
          <div id="navegar" class="cuadrado rojo">
              <!--<a href="#/app/navegar">--> 
                <i class="ion-location mainMenuIcon rojoLogo"></i>
              <!--</a>-->  
          </div>
        </div>
      </div>
      <div class="row">
      <div class="col">                    
      <div id="estadisticas" class="cuadrado naranja">
          <!--<a href="#/app/estadisticas">-->
            <i class="ion-pie-graph mainMenuIcon naranjaLogo"></i>
          <!--</a>--> 
      </div>
      </div>
      <div class="col">          
      <div id="ajustes" class="cuadrado verde">
          <!--<a href="#/app/ajustes>--> 
            <i class="ion-ios7-gear mainMenuIcon verdeLogo"></i>
          <!--/a-->
      </div>
      </div>
      </div>
 
<!--      
   <ion-list>
      <ion-item ng-repeat="menuItem in menuItems" href="#/app/{{menuItem.href}}">
        {{menuItem.title}}
      </ion-item>
    </ion-list>
-->
  </ion-content>
</ion-view>
