<ion-view title="Mapa Supermercado">
    <!-- HEADER -->
    <ion-header-bar class="bar-positive centrado" animation="slide-left-right-ios7">
        <a class="tab-item backHeader" href="#/app/menu">
            <i class="ion-arrow-left-c footerIconos"></i>
        </a>
        <h1 class="title centrado">Mapa Supermercado</h1>        
        <img class="logoHeader" src="./img/carrito.png">
    </ion-header-bar>
    
    <!-- BODY -->
  <ion-content class="has-header">
      <ion-scroll zooming="true" direction="xy" >
          <canvas-map config="map.config" refresh="map.refresh"></canvas-map>
      </ion-scroll>
  </ion-content>

    <!-- FOOTER -->
    <ion-footer-bar class="bar-dark">    
        <a class="tab-item" href="#/app/menu">
                <i class="ion-home footerIconos"></i>
        </a>
        <a class="tab-item" data-ng-click="scan()">
            <i class="icon ion-ios7-circle-filled footerIconos"></i>
        </a>
<!--        <a class="tab-item" data-ng-click="cambiarCat()">-->
        <a class="tab-item"  href="#/app/comprar">
            <i class="icon ion-ios7-cart footerIconos"></i>
        </a>
        <a class="tab-item" href="#/app/ajustes">
            <i class="ion-ios7-gear footerIconos"></i>
        </a>
    </ion-footer-bar>  
</ion-view>
