
<ion-view title="EPA">


    <ion-content class="loginBackground">

        <div class="row">
            <div class="col"> </div>
            <div class="col loginTitulos" ALIGN=Right>
            Nuevo
            </div>
            <div class="col loginTitulos">
            usuario
            </div>
            <div class="col"> </div>
        </div>
            <div class="row"> </div>
            <div class="row"> </div>
            <div class="row"> </div>
        <div class="list list-inset">
            <label class="item item-input">
                <span class="input-label">Email </span>
                <input type="text" placeholder=" xxx@xxxx">
            </label>
            <label class="item item-input">
                <span class="input-label">Contraseña</span>
                <input type="text" placeholder="xxxx">
            </label>
            <label class="item item-input">
                <span class="input-label">Nombre</span>
                <input type="text" placeholder="xxxx">
            </label>
            <label class="item item-input">
                <span class="input-label">Apellido</span>
                <input type="text" placeholder="xxxx">
            </label>
            <label class="item item-input">
                <span class="input-label">Fecha de Nacimiento</span>
                <input type="text" placeholder="dd/mm/aaaa">
            </label>
            <label class="item item-input">
                <span class="input-label">Localidad</span>
                <input type="text" placeholder="xxxx">
            </label>
        </div>
        <div class="row"> </div>
        <div class="row"> </div>
        <div class="row">
            <div class="col"></div>
            <div class="col">
                <button class="button button-positive loginButton button-small" data-ng-click="registrar()">
                    Registrarse
                </button>

            </div>
            <div class="col"></div>
        </div>
    </ion-content>
