<ion-view title="EPA">
    <!-- HEADER -->
    <ion-header-bar class="bar-positive centrado" animation="slide-left-right-ios7">
        <a class="tab-item backHeader" href="#/app/login">
            <i class="ion-arrow-left-c footerIconos"></i>
        </a>
        <h1 class="title centrado">Crear Usuario</h1>        
        <img class="logoHeader" src="./img/carrito.png">
    </ion-header-bar>
    
    <ion-content class="loginBackground">

        <div class="list list-inset">
            <label class="item item-input">
                <span class="input-label">E-mail </span>
                <input type="text" placeholder="" ng-model="user.data.email" ng-required>
            </label>
            <label class="item item-input">
                <span class="input-label">Contraseña</span>
                <input type="password" placeholder="" ng-model="user.data.password" ng_required>
            </label>
        </div>

        <div class="row" ng-show="loginResponse.notifyShow">
            <div class="col">
                <div class="notify" ng-class="loginResponse.type">
                    <i class="icon ion-close-circled"></i>
                          <span id="notifyTextLogin" class="notifyText">
                              {{loginResponse.message}}
                          </span>
                </div>
            </div>
        </div>

        <div class="row centrado">
            <div class="col centrado">
                <button class="button button-positive loginButton button-small" data-ng-click="registrar()">
                    Registrarse
                </button>

            </div>
        </div>
    </ion-content>
